:root {
    // colors
    --color-r1: #F5C6D6;
    --color-r2: #EE2E84;
    --color-r3: #85CFD8;
    --color-r4left: #8DC63F;
    --color-r4right: #E76E34;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 600px) 1fr;
    grid-template-rows: 1fr 2fr 10fr 1fr;
    
}

.nav {
    grid-area: 2/2/ span 1 / span 1;
    background-color: var(--color-r3);
    z-index:1;
    display: grid;
    align-items: center;
}

.nav-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0;
}
.logo {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}
.tab-nav {
    outline: none;
    display: none;
}
.tab-nav-label {
    display: none;
    color: #fff;
}
.tab-content {
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab-content li {
    display: inline-block;
    padding-right: 10px;
}
.tab-content li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}


.one {
    grid-area: 3/2/span 1/span 1;
    background-color: var(--color-r2);
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    //place-content: center;
    //place-items: center;
    padding: 2rem;
}




.two {
    grid-area: 3/2/span 1/span 1;
    background-color: var(--color-r4left);
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
}

.myForm > * {
    font: 1.4em 'Unkempt', sans-serif; 
   }
   .myForm {
     display: grid;
     grid-template-columns: [labels] auto [controls] 1fr;
     grid-auto-flow: row;
     grid-gap: .8em .5em;
     //background: beige;
     padding: 1.2em;
     //width: 36em;
   }

.myForm > h1 {
    grid-column: span 2;
    text-align: center;
    font-size: 2em;
    margin-bottom: .2em;
}

.myForm > p {
    grid-column: span 2;
    text-align: center;
    font-size: 1.4em;
}

   .myForm > label,
   .myForm > fieldset  {
     grid-column: labels;
     grid-row: auto;
   }
   .myForm > input, 
   .myForm > select,
   .myForm > textarea,
   .myForm > button,
   .myForm > input[type="file"] {
     grid-column: controls;
     grid-row: auto;
     padding: .4em;
     border: 0;
   }
   .myForm > fieldset {
     grid-column: span 2;
     
   } 

   .myForm > button,
   .myForm > input[type="file"] {
     background: var(--color-r3);
     color: white;
     cursor: pointer;
     }


   .myForm > textarea {
     min-height: 3em;
     }

.three {
    grid-area: 3/2/span 1/span 1;
    background-color: var(--color-r1);
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
}

.four {
    grid-area: 3/2/span 1/span 1;
    background-color: var(--color-r4right);
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 425px){
    .tab-nav-label {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }
    .tab-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        -webkit-transition: all ease-in-out 0.4s;
     }
    .nav-checkbox input:checked ~ .tab-content {
        max-height: 400px;
    }
    .tab-content li {
        padding: 10px 0;
    }
    
}